RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^user/(\w+)/(\w+)/?$ /profile.php?user=$1&page=$2 [L,QSA,NC]

RewriteRule ^user/(\w+)/?$ /profile.php?user=$1 [L,QSA,NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule ^_.*$ - [R=404,L]

ErrorDocument 404 /_templates/_errors/404.php
ErrorDocument 400 /_templates/_errors/400.html
ErrorDocument 500 /_templates/_errors/500.html